/*	
	Resumo de FlexBox:

	display:flex;-inicia o flexno container
	flex-grow-da tamanho ao elemento preenchendo os espaços vazios
	flex-shrink-o contrário do grow
	flex-basis-tamanho inicial do elemento, e o resto é preenchido pelo grow
	flex-<grow><shrink><basis>
	flex-direction-muda a direção que os elementos estão(row,column)
	flex-order-muda a ordem do elemento indivualmente
	justify-content-alinha os elementos no eixo principal, eixo x,horizontal
	align-items-alinha os elementos no eixo secundário, eixo y, vertical
	align-self-alinha o elemento em  particular
*/

.container_flexbox{
height:400px;
width:100%;
display: flex;
flex-direction:row-reverse;
justify-content:space-around;
align-items:center;
background-color:white;
}

.flexbox{
width:100px;
height:100px;
/*flex:11300px;Shorthand*/
	/*flex:<grow><shrink><basis>;*/
}

.first{
background-color:blue;

}
.second{
background-color:green;
align-self:flex-start;

}
.third{
background-color:red;
align-self:flex-end;

}